<div class="page-banner">
  <h1 class="page-heading">{{ title }}</h1>
  <div class="theme-switcher">
    {% include '@template/component/icon.twig' with {
    name: 'contrast'
    } only %}
    <label class="theme-switcher__switcher" role="switch" aria-checked="false" data-theme-toggle>
      <input type="checkbox" class="theme-switcher__input" aria-label="Toggle theme">
      <span class="theme-switcher__slider"></span>
    </label>
    <span class="theme-switcher__text">
      <span class="theme-switcher__label theme-switcher__label_dark" data-theme-label="dark">Switch to dark theme</span>
      <span class="theme-switcher__label theme-switcher__label_light" data-theme-label="light">Switch to light theme</span>
    </span>
  </div>
</div>
