<div class="page-banner">
  <h1 class="page-heading">{{ title }}</h1>
  <div class="theme-toggle">
    <span class="theme-toggle__icon">
      {% include '@template/component/icon.twig' with {
      name: 'contrast'
      } only %}
    </span>

    <label class="theme-toggle__switch" data-theme-toggle>
      <input type="checkbox" class="theme-toggle__input" aria-label="Toggle theme">
      <span class="theme-toggle__slider"></span>
    </label>

    <span class="theme-toggle__text">
      <span class="theme-toggle__label theme-toggle__label_light">Apply Light Theme</span>
      <span class="theme-toggle__label theme-toggle__label_dark">Apply Dark Theme</span>
    </span>
  </div>
</div>
