.page {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2rem;

  min-height: 100vh;
  padding: 1rem;

  @include query(lg) {
    display: flex;
    padding: 2rem;
  }
}

.page__content {
  @include query(lg) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
