.theme-toggle {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  color: var(--color-text);

  &__icon {
    display: flex;
    align-items: center;

    &-svg {
      width: 1.75rem;
      height: 1.75rem;
      fill: currentcolor;
    }
  }

  &__switch {
    cursor: pointer;

    position: relative;

    display: inline-block;

    width: 34px;
    height: 16px;
    margin: 0 0 0 1.6rem;
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    inset: 0;

    border-radius: var(--radius-xl);

    background-color: #e2e2f2;

    transition: background-color 0.3s ease;

    &::before {
      content: '';

      position: absolute;
      bottom: 0;
      left: 0;

      width: 16px;
      height: 16px;
      border-radius: 50%;

      background-color: var(--color-text);
      box-shadow: 1px 0 3px rgb(0 0 0 / 25%);

      transition: transform 0.3s ease;
    }
  }

  &__input:checked + &__slider::before {
    transform: translateX(18px);
    background: var(--color-accent);
  }

  &__input:checked + &__slider {
    background-color: #f5dee5;
  }

  &__text {
    display: none;
    margin-left: 0.8rem;
    white-space: nowrap;

    @include query(md) {
      display: flex;
    }
  }

  &__label {
    display: none;
    font-size: 1.125rem;

    &_light {
      display: inline;
    }

    &_dark {
      display: none;
    }
  }
}

html[data-theme='light'] {
  .theme-toggle__label_light {
    display: none;
  }

  .theme-toggle__label_dark {
    display: inline;
  }
}
